body{
    background-image: url("/static/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.main{
    margin-top: 120px;
}
.bg{
    background-color:  whitesmoke;
    opacity: 0.8;
}
.bg:hover {
    background-color:  whitesmoke;
    opacity: 1.0;
}
.st{
    overflow: auto;
    max-height: 500px;
}
