body{
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
}  
.main{
    margin-top: 0px;
    
}
.bg{
    background-color:  whitesmoke;
    opacity: 0.8;
}
.bg:hover {
    background-color:  whitesmoke;
    opacity: 1.0;
}
.st{
    overflow: auto;
    max-height: 500px;
    background-color: white;
    box-shadow: 5px 5px 8px !important;
}
.navbar{
    border: none!important;
}

.drop-style{
    box-shadow: 5px 20px 23px !important;
 
}
.ry{
    background-image: linear-gradient( 292.9deg,  rgba(254,105,241,1) 28.8%, rgba(182,44,248,1) 70.4% );
}
.border-left{
   border: 2px;
}
.bg-white{
    box-shadow: 5px 20px 23px !important;
}
.my-shadow{
    box-shadow: 5px 5px 15px !important;
    border-radius: 10px;
}
.bg-primary-a{
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}
.my-hover{
    color: rgba(97, 97, 97, 0.741);
}
.my-hover:hover{
    color: black;
    
}
.list-group-item:hover{
    background-color: rgba(94, 94, 255, 0.741);
    color: white;
}
footer{
    background-image: linear-gradient( 292.9deg,  rgba(254,105,241,1) 28.8%, rgba(182,44,248,1) 70.4% );
    position: fixed;
    bottom: 0;
    width: 100%;
}
.my-output{
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    color: white;
}
.new{
    margin-top: 70px;
}

.my-drop-menu .dropdown-item :hover{
 background-color: rgb(178, 178, 235);
}

.mytable{
    background-color: white;
    
} 

.hello{
    overflow: auto;
}