{% extends 'csvmanager/main.html' %}
{% load filename %}
{% block content %}
{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark ry">
    <a class="navbar-brand font-weight-bold" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="{% static 'images/user.png' %}" height="40px" class="rounded-circle my-user shadow-sm"
                        alt="user">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdown01">
                    <h6 class="dropdown-item">{{ user.name }}</h6>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid main">
    <!-- <div class="row">
        <div class="col-md-12 border-bottom ">
           
        </div> -->

    <!-- </div> -->
    <div class="row mb-5 new">
        <div class="col-md-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image-upload-wrap mb-4 bg-white drop-style">
                    {{ form.csv }}
                    <div class="drag-text">
                        <h3>Drag and drop a file</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <div class="image-title-wrap mt-4">
                        <input type="button" class="btn btn-success mb-3" id="upload" value="view"
                            onclick="Upload(); myFunction();" />
                        <button type="button" class="btn btn-secondary mb-3"
                            onclick="removeUpload(); rem(); location.reload();" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
                <!-- public and private dropdown -->

                <div class="input-group mb-3">
                    {{ form.network }}
                </div>

                <div class="input-group mb-3">
                    {{ form.title }}
                </div>
                {{ form.errors }}
                {{ form.non_field_errors }}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
        <div class="col-md-5">
            <!-- <div class="col-md-12 bg-white mb-4"> -->
            <h4 class="text-center font-weight-bold my-output mt-2 rounded border-bottom-0 mb-0" id="Output"></h4>
            <div id="dvCSV" class="st mb-3 mt-0">

            </div>
            <h2 class="text-center pt-5 pb-5 font-weight-bold text-muted out-txt"> Here You See Output Result..</h2>
            <!-- </div> -->

            <!-- <form class="mb-3 mt-3" id="demoForm">



            <div class="form-group mt-3">
                <input type="text" name="username" class="form-control text-center" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control text-center" placeholder="Password"
                    required>
            </div>
            <button class="btn btn-primary btn-lg btn-block btn-sm" type="submit">submit</button>
        </form> -->

        </div>
        <div class="col-md-4 text-center">
            <ul class="list-group mt-3 mb-3 list-group-flush my-shadow">
                <li class="list-group-item text-center bg-primary-a text-uppercase text-white font-weight-bold">
                    Uploaded Files
                </li>
                <!-- upload file section here -->
                <!--{% for i in CSVs %}
                <a href="{{ i.csv.url }}">
                    <li class="list-group-item">
                        {{ i.title }}
                        {{ i.status }}
                        <i class="fas fa-times-circle float-right my-hover" title="Remove"></i>
                    </li>
                </a>
                {% endfor %}-->
            </ul>
            <div class="hello shadow mb-5">
                <table class="table mytable table-hover rounded-lg">
                    <thead>
                        <tr>
                            <th scope="col">File
                            </th>
                            <th scope="col">Status
                            </th>
                            <th scope="col">
                                Results
                            </th>
                            <th scope="col">Delete/Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in CSVs %}
                        <tr>
                            <td>{{ i.csv|getfilename }}</td>
                            <td>{{ i.status }}</td>
                            {% if i.result_csv %}
                                <td><a href="{{ i.result_csv.url }}" class="btn btn-primary">{{ i.result_csv|getfilename }}</a></td>
                            {% else %}
                            <td><div class="btn btn-secondary">File Not Processed yet!</div></td>
                            {% endif %}
                            <td><i class="fas fa-times-circle text-center my-hover" title="Remove"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <footer class="footer mt-auto py-3">
            <div class="container text-center">
                <span class="text-white"> <i class="fa fa-copyright" aria-hidden="true">2020 Copyright : <span
                            class="text-dark"> Blockchain Certificate</span></i></span>
            </div>
        </footer>
    </div>
    <!-- <div class="row mt-3 mb-3">
        
    </div> -->

</div>


{% endblock %}